* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.app {
    background: rgba(10, 10, 50, 0.2);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 102, 255, 0.6);
}

.app h1 {
    font-weight: 25px;
    color: blue;
    border-bottom: 1px solid #eee3e3;
    padding-bottom: 20px;
}
/*
.subject-selection {
    text-align: center;
}

.subject-btn {
    background: rgba(10, 10, 50, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: 500;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.subject-btn:hover {
    background-color: rgb(42, 78, 196);
    color: #fff;
}
*/
.quiz {

    display: block;
}

.quiz h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}

.btn {
    background: rgba(10, 10, 50, 0.2);
    color: rgb(246, 246, 246);
    font-weight: 500;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover.btn:hover:not([disabled]) {
    background-color: rgb(97, 124, 212 , 0.5);
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn {
    background-color: blue;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 1px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 20px;
    display: block;
}

#next-btn:hover {
    background-color: #1e11a5;
    color: #fff;
}

.correct{
    background: rgba(18, 164, 18, 0.4);
}
.incorrect{
    background-color: rgba(222, 41, 41, 0.4);
}
